/bank.txt
/classes.py
/dictionaries.py
/files.py
/forloop.py
/forpython.txt
/fruitlist.py
/functions.py
/ifelse.py
/lists.py
/match
/myname.txt
/new.py
/onmornings.txt
/oop.py
/operators.py
/purplecow.txt
/quiz.py
/sets.py
/strings.py
/test.py
/tuples.py
/whileloop.py